<!-- sidenav content -->
<h1>Settings</h1>
<h2>Target Labels</h2>
<mat-radio-group class="vertical-group" [formControl]="targetLabelCtrl">
  <mat-radio-button value="genes" checked = 'true'>Gene name</mat-radio-button>
  <mat-radio-button value="uniprot_id">Uniprot ID</mat-radio-button>
  <mat-radio-button value="fullname">Full name</mat-radio-button>
</mat-radio-group>
<br>
<h2>Compound Labels</h2>
<mat-radio-group class="vertical-group">
  <mat-radio-button value="hash">InChI</mat-radio-button>
  <mat-radio-button value="structure">Structure</mat-radio-button>
</mat-radio-group>

<!--<h2>Database Sources</h2>
  <mat-checkbox>Check me!</mat-checkbox><br>
  <mat-checkbox>Check me!</mat-checkbox><br>
  <mat-checkbox>Check me!</mat-checkbox><br>
  <mat-checkbox>Check me!</mat-checkbox><br>
  <mat-checkbox>Check me!</mat-checkbox><br>

<br>
<mat-slide-toggle>Slide me!</mat-slide-toggle><br>
<mat-slide-toggle>Slide me!</mat-slide-toggle><br>
<mat-slide-toggle>Slide me!</mat-slide-toggle><br>
<mat-slide-toggle>Slide me!</mat-slide-toggle><br>
<mat-slide-toggle>Slide me!</mat-slide-toggle><br>
<br>
<br>
<button mat-button routerLink="/products">Products</button><br>
<button mat-button routerLink="/dashboard">Dashboard</button><br>-->
