<!-- sidenav content -->
<div class="container">
  <mat-tab-group>
    <mat-tab label="Settings">
      <div class="panel-content">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" >
<div fxFlex="95">
  <h3>Target Labels</h3>
  <mat-radio-group class="vertical-group" [formControl]="targetLabelCtrl">
  <mat-radio-button value="genes" checked = 'true'>Gene name</mat-radio-button>
  <mat-radio-button value="uniprot_id">Uniprot ID</mat-radio-button>
  <mat-radio-button value="fullname">Full name</mat-radio-button>
</mat-radio-group>
</div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div fxFlex="95">
      <h3>Compound Labels</h3>
      <mat-radio-group class="vertical-group" [formControl]="compoundLabelCtrl" >
      <mat-radio-button value="hash" checked = 'true'>InChI</mat-radio-button>
  <mat-radio-button value="structure">Structure</mat-radio-button>
</mat-radio-group>
  </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" >
    <h3>Pattern Labels</h3><br/>
    <div fxFlex="95">
  <mat-checkbox [value]="'structure'" [formControl]="patternLabelCtrl">Show Structures</mat-checkbox>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" >
    <h3>Link Labels</h3><br/>
    <div fxFlex="95">
  <mat-checkbox [formControl]="showLinkLabelCtrl">Show Relationship Types</mat-checkbox>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div fxFlex="95">
      <h3>Legend</h3>
  <div class="row-close"><div class="circle target"></div>: Target node</div>
  <div class="row-close"><div class="circle target-start"></div>: Starting target node</div>
  <div class="row-close"><div class="circle target-end"></div>: Ending target node</div>
  <div class="row-close"><div class="circle compound"></div>: Compound</div>
  <div class="row-close"><div class="circle pattern"></div>: Scaffold pattern</div>
      <a mat-button (click) = openDisclaimer() [color]="'primary'">Disclaimer Info</a>
    </div>
  </div>
      </div>
    </mat-tab>
    <mat-tab label="Help">
      <smrtgraph-help-panel></smrtgraph-help-panel>
    </mat-tab>
  </mat-tab-group>
</div>
