
<div [ngSwitch]="link?.type" *ngIf = "node?.params" (mouseenter)="node.params.hovered = true;" (mouseleave)="node.params.hovered = false;">
  <div *ngSwitchCase="'TESTED_ON'">
    <target-detail-view [node]="link.target"></target-detail-view>
  </div>

  <div    *ngSwitchCase="'REGULATES'">
    <target-detail-view [node]="link.target"></target-detail-view>
  </div>
  <div    *ngSwitchCase="'PATTERN_OF'"> <span *ngIf="link.properties.islargest">maximal</span> pattern of: {{node?.uniprot_id}}
    ({{node?.name}}) {{link.properties | json}}
    <pattern-detail-view [node] = "link.target"></pattern-detail-view>
  </div>
  <div    *ngSwitchCase="'POTENT_PATTERN_OF'">potent pattern of :
  <target-detail-view [node]="link.target"></target-detail-view>
  </div>
  <!--    <div    *ngSwitchCase="'REGULATES'"></div>
      <div    *ngSwitchCase="'REGULATES'"></div>-->
  <div *ngSwitchDefault> {{link.type}} {{link.properties}}</div>
</div>
