<h1 mat-dialog-title>Privacy and Disclaimer</h1>
<div mat-dialog-content>
 <div fxLayout="row">
   <b>Disclaimer</b>
 </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>This software is provided on an “as is” and “as available” basis. The <a href = "https://ncats.nih.gov/" target="_blank">
    National Center for Advancing Translational Sciences (NCATS)</a>, a component of the <a href = "https://nih.gov"
    target="_blank"> National Institutes of Health</a>, a US Federal Government Agency, expressly
    disclaims all warranties of any kind, whether express or implied, including, but not limited to, the implied
    warranties of merchantability, fitness for a particular purpose and non-infringement. NCATS makes no warranty that:
    </p>
  </div>
  <div fxLayout="row">
    <p>
  a. the software will meet your requirements
    </p>
  </div>
  <div fxLayout="row">
    <p>
  b. the results that may be obtained from the use of the software will be accurate or reliable
    </p>
  </div>
  <br>
  <div fxLayout="row">
    <p>
  NCATS shall have no responsibility for any damage to your computer system or loss of data that results from the
    download of any content, materials, information or software. NCATS reserves the right to make changes or updates to
    the software at any time without notice.
    </p>
</div>
</div>
<div mat-dialog-actions>
<button mat-stroked-button href = "https://ncats.nih.gov/privacy" target="_blank" [color]="'primary'">Privacy Policy</button>
  &nbsp; &nbsp; |&nbsp; &nbsp;
  <button mat-stroked-button href = "https://ncats.nih.gov/disclaimer" target="_blank" [color]="'primary'">NCATS Disclaimer</button>
</div>
