.link {
    stroke-width: .75;
  stroke: #A5A5A5;
}

.arrow {
  stroke-width: 2;
  stroke: #A5A5A5;
  fill: #A5A5A5;
  marker-end: url(#arrow);
}

.flatarrow {
  stroke-width: 2;
  stroke: #A5A5A5;
  fill: #A5A5A5;
  marker-end: url(#flatarrow);
}

.link-name {
  font-family: 'Lato';
  font-weight: 300;
  color: #000000;
}

.link-node{
  stroke: red;
}

.connected{
  stroke-width: 2;
  stroke: #595959;
  marker-end: url(#hoverarrow);
}

.connected .flatarrow{
  stroke-width: 2;
  stroke: #595959;
  marker-end: url(#hoverflatarrow);
}

 .maximal{
  stroke-width: 2;
  stroke: red;
}


.hovering {
  stroke: #000;
  stroke-width: 2px;
}

/*#arrow{
  stroke-width: 2;
  stroke: #A5A5A5;
}*/
