
<div class="container smrt-card">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class = "main-row">
    <div fxFlex="15">
      <img class="pattern-avatar">
    </div>
    <div fxFlex="85">
      <h2>Pattern</h2>
    </div>
  </div>
  <div fxLayoutWrap="row">
    <h3 class="smiles">Smiles: {{node.smiles}}</h3><br/>
    <img [src] = node?.imageUrl>
    <mat-list>
      <mat-list-item>InChI Key: {{node.hash}}</mat-list-item>
      <mat-list-item>Pattern Type: {{node.pattern_type}}</mat-list-item>
      <mat-list-item>Pattern Id: {{node.pattern_id}}</mat-list-item>
    </mat-list>
  </div>
</div>

