<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
<div fxFlex="92">

<h2>{{hoveredNode?.labels[0]}}</h2>
<h3><i>{{hoveredNode?.properties?.name}}</i></h3>


<div *ngIf="hoveredNode && (hoveredNode.properties?.canonical_smiles || hoveredNode.properties?.smiles)">
  <img [src] = getSmiles(hoveredNode)>
</div>
<div *ngIf="downstreamLinks?.length>0">
  <hr>
  <mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile-header><h2>Acts On: </h2></mat-grid-tile-header>
  <div *ngFor="let link of downstreamLinks">
    <mat-grid-tile><link-details-visual [link] = link [node] = link.target></link-details-visual></mat-grid-tile>
  </div>
  </mat-grid-list>
</div>

<div *ngIf="upstreamLinks?.length>0">
  <hr>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile-header><h2>Acted On By: </h2></mat-grid-tile-header>
  <div *ngFor="let link of upstreamLinks">
    <mat-grid-tile><link-details-visual [link] = link [node] = link.source></link-details-visual></mat-grid-tile>
  </div>
  </mat-grid-list>
</div>
</div>
<!--
<div *ngIf="upstreamLinks?.length>0">
<h3>Regulated by: </h3>
<div *ngFor="let link of upstreamLinks" (mouseenter)="link.source.params.hovered = true;" (mouseenter)="link.source.params.hovered = false;">
  <div [ngSwitch]="link?.type">
    <div    *ngSwitchCase="'REGULATES'">
      {{link.properties?.effect}}: {{link.source.properties?.uniprot_id}} ({{link.source.properties?.name}})
    </div>
    <div    *ngSwitchCase="'TESTED_ON'"> {{link.source.properties?.uniprot_id}}
      <span *ngIf="link.source.properties?.name">({{link.source.properties?.name}})</span>
      <div *ngIf="link.source.properties?.canonical_smiles || link.source.properties?.smiles">
        <img [src] = getSmiles(link.source)>
        <br>
      </div>
      Median Activity: {{link.properties.median_p_activity}}</div>
    <div    *ngSwitchCase="'PATTERN_OF'"> <span *ngIf="link.properties.maximal=='t'">maximal</span> pattern of: {{link.source.properties?.uniprot_id}}
      ({{link.source.properties?.name}}) {{link.properties | json}}
      <div *ngIf="link.source.properties?.canonical_smiles || link.source.properties?.smiles">
        <img [src] = getSmiles(link.source)>
      </div>
    </div>
    <div    *ngSwitchCase="'POTENT_PATTERN_OF'">potent pattern of : {{link.source.properties?.uniprot_id}} ({{link.source.properties?.name}}) </div>
    &lt;!&ndash;    <div    *ngSwitchCase="'REGULATES'"></div>
        <div    *ngSwitchCase="'REGULATES'"></div>&ndash;&gt;
    <div *ngSwitchDefault> {{link.type}} {{link.properties}}</div>
  </div>
  <hr>
</div>
</div>
-->

