<smrtgraph-menu></smrtgraph-menu>
<mat-sidenav-container>
  <button type="button" class="sidenavToggle" mat-raised-button [color]="'accent'" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
    <!-- sidenav content -->
    <smrtgraph-search></smrtgraph-search>
    <node-details-visual></node-details-visual>
  </mat-sidenav>
  <!-- primary content -->


  <graph></graph>
  <!--<div *ngIf="loading else graphcontent" class = "smrtSearchSidenav" >
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #graphcontent class = "smrtSearchSidenav">
    <graph></graph>

  </ng-template>-->


  <mat-sidenav #settingsToggle [mode]="'over'" position="end">
    <app-smrtgraph-settings></app-smrtgraph-settings>
  </mat-sidenav>

</mat-sidenav-container>

<div fxLayout="row" fxLayoutGap="10px" class = "link-list-row">
  <div fxFlex="100">

    <link-list-visual></link-list-visual>
  </div>
</div>

