
<div class="container smrt-card">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class = "main-row">
    <div fxFlex="15">
      <img class="target-avatar">
    </div>
    <div fxFlex="85">
      <h2>{{node?.genes}}</h2>
    </div>
  </div>
  <div fxLayoutWrap="row">
    <h3>{{node?.fullname}}</h3>
</div>
  <div *ngIf = "node?.synonyms.length > 0" fxLayoutWrap="row">
    <h3>Synonyms:</h3>
    <mat-list>
      <mat-list-item *ngFor="let syn of node?.synonyms">{{syn}}</mat-list-item>
    </mat-list>
  </div>
</div>
