<h1 mat-dialog-title>Publications and Citations</h1>
<div mat-dialog-content>
 <div fxLayout="row">
   <b>Publications</b>
 </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>A pre-print publication detailing Smart graph can be found <a href="https://www.biorxiv.org/content/10.1101/707869v1" target="_blank">here</a>
    </p>
  </div>
  <div fxLayout="row">
    <b>To Cite</b>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>
      <b>SmartGraph: A Network Pharmacology Investigation Platform</b><br>
      Gergely Zahoránszky-Kőhalmi, Timothy Sheils, Tudor I. Oprea<br>
      bioRxiv 707869; <a href = "https://doi.org/10.1101/707869" target = "_blank"> doi: https://doi.org/10.1101/707869</a>
    </p>
  </div>
</div>
