<h1 mat-dialog-title>Publications</h1>
<div mat-dialog-content>
  <div fxLayout="row">
    <b>To Cite</b>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>
      Zahoránszky-Kőhalmi, G., Sheils, T. & Oprea, T.I.<br>
      <b>SmartGraph: a network pharmacology investigation platform.</b><br>
      J Cheminform 12, 5 (2020). <a href="https://doi.org/10.1186/s13321-020-0409-9" target="_blank">
      doi: https://doi.org/10.1186/s13321-020-0409-9</a>
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>
      Gergely Zahoránszky-Kőhalmi, Brandon Walker, Nathan Miller, Brett Yang, Dhatri V. L. Penna, Jessica Maine, Timothy Sheils, Ke Wang, Jennifer King, Hythem Sidky, Sridhar Vuyyuru, Jeyaraman Soundarajan, Samuel G. Michael, Alexander G. Godfrey, and Tudor I. Oprea.<br>
      <b>SmartGraph API: Programmatic Knowledge Mining in Network-Pharmacology Setting</b><br>
      <em>JCIM</em> 2024 64 (24), 9021-9026 <a href="https://pubs.acs.org/doi/10.1021/acs.jcim.4c00789" target="_blank">DOI: 10.1021/acs.jcim.4c00789</a>
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <b>SmartGraph API Swagger Page:</b>&nbsp;<a [href]="apiSwaggerUrl" target="_blank">{{apiSwaggerUrl}}</a>
  </div>
</div>
