<h1 mat-dialog-title>Publications</h1>
<div mat-dialog-content>
  <div fxLayout="row">
    <b>To Cite</b>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>
      Zahoránszky-Kőhalmi, G., Sheils, T. & Oprea, T.I.<br>
      <b>SmartGraph: a network pharmacology investigation platform.</b><br>
      J Cheminform 12, 5 (2020). <a href="https://doi.org/10.1186/s13321-020-0409-9" target="_blank">
      doi: https://doi.org/10.1186/s13321-020-0409-9</a>
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <b>SmartGraph API Swagger Page:</b>&nbsp;<a [href]="apiSwaggerUrl" target="_blank">{{apiSwaggerUrl}}</a>
  </div>
</div>
