.node {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;
  pointer-events: all;
}

.node-name {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  /*color: #000000;*/
  pointer-events: all;
}

.hovering {
  stroke: #000;
  stroke-width: 2px;
}


.clicked {
  stroke: #e64a19;
  stroke-width: 2px;
}

.node {
  diameter: 50px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  border-width: 2px;
  text-color-internal: #FFFFFF;
  font-size: 8px;
  z-index: 666;
}

.relationship {
  color: #A5ABB6;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  /*text-color-external: #000000;*/
  /*text-color-internal: #FFFFFF;*/
  caption: '<type>';
}

circle.node.Target.startNode {
  fill: #ff8a50;
}

circle.node.Target.endNode {
  fill: #c41c00;
}

/*
http://paletton.com/#uid=40R0u0krKw0hhHhmv-HvKrezxln
*/

.Target {
  fill: #ff5722;
}

circle.node.Compound {
  fill: #1E71A2;
}

circle.node.Pattern {
  fill: #FF9C22;
}

.connected{
  stroke-width: 1;
  stroke: #595959;
}

.maximal{
  stroke-width: 2;
  stroke: #e64a19;
}

.label--top {
  text-anchor: middle;
}

.label--right {
  text-anchor: start;
}

.label--bottom {
  text-anchor: middle;
}

.label--left {
  text-anchor: end;
}
