
<mat-table #table [dataSource]="dataSource" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="edgeType">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.edgeType}} </mat-cell>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="sourceType">
    <mat-header-cell *matHeaderCellDef > Source  </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.source?.nodeType}}</mat-cell>
  </ng-container>

  <!-- Average Column -->
  <ng-container matColumnDef="targetType">
    <mat-header-cell *matHeaderCellDef >Target</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.target?.nodeType}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

