<div class="container smrt-card">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class = "main-row">
    <div fxFlex="15">
      <img class="compound-avatar">
    </div>
    <div fxFlex="85">
      <h2>Compound</h2>
    </div>
  </div>

    <mat-card-subtitle class="smiles">Smiles: {{node?.smiles}}</mat-card-subtitle>
    <img [src] = nodeSmiles>
    <mat-list>
      <mat-list-item>InChI Key: {{node?.hash}}</mat-list-item>
      <mat-list-item>Non stereo hash: {{node?.nostereo_hash}}</mat-list-item>
      <mat-list-item>Compound Id: {{node?.compoundId}}</mat-list-item>
    </mat-list>
  </div>

<div *ngIf="downstreamLinks?.length>0" fxLayoutWrap="row">
  <h3>Tested On:</h3>
  <div *ngFor="let link of downstreamLinks">
    <link-details-visual [data] = link [node] = link.target></link-details-visual>
  </div>
</div>

<div *ngIf="upstreamLinks?.length>0" fxLayoutWrap="row">
  <h3>Pattern Of:</h3>
  <div *ngFor="let link of upstreamLinks">
    <link-details-visual [data] = link [node] = link.source></link-details-visual>
  </div>
</div>
