<div class="container smrt-card">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class = "main-row">
    <div fxFlex="15">
      <img class="compound-avatar">
    </div>
    <div fxFlex="85">
      <h2>Compound</h2>
    </div>
  </div>

    <h3 class="smiles">Smiles: {{node?.smiles}}</h3>
    <img [src] = node?.imageUrl>
    <mat-list>
      <mat-list-item>InChI Key: {{node?.hash}}</mat-list-item>
      <mat-list-item>Non stereo hash: {{node?.nostereo_hash}}</mat-list-item>
      <mat-list-item>Compound Id: {{node?.compoundId}}</mat-list-item>
    </mat-list>
</div>
